<% @show_navbar = true %>
<div class="container text-center pt-3">
  <button type="button" class="btn btn-dark p-2" style="width: 100px;" onclick="window.location.href='/about';">about me.</button>
</div>
<div class="video">
  <iframe width="560" height="315" src="<%= @video_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>
<p class="text-center">
  Sketch created by the comedy troupe, OffPinkFloyd
</p>
<div class="container text-center pt-3">
<div class="container">
  <div class="row justify-content-center"> <!-- Center the row -->
    <div class="col-md-6"> <!-- Specify the column width -->
      <div class="card">
        <%= image_tag "poster1.jpeg", class: "card-img-top", alt: "Photo 1" %>
        <div class="card-body">
          <h5 class="card-title">It's my party I can die if I want to.</h5>
          <p class="card-text">Second City conservatory grad review show poster.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="video">
  <iframe width="560" height="315" src="<%= @secondvideo_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<p class='text-center'> Sketch by comedy troupe, OffPinkFloyd
</p>
<br>
<br>
<div class="video">
  <iframe width="560" height="315" src="<%= @thirdvideo_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<p class='text-center'> Blackout sketch titled Ty Lue from the Second City Conservatory Grad Revue show: "Its My Party I Can Die If I Want To" by the comedy troupe, Hell Yea Brother.
</p>
<br>
<br>
<div class="video">
  <iframe width="560" height="315" src="<%= @forthvideo_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<p class='text-center'> Sketch from the Second City Conservatory Grad Revue Show: "It's My Party I Can Die If I Want To" by the comedy troupe Hell Yea Brother
</p>
<br>
<div class="container text-center pt-3">
<div class="container">
  <div class="row justify-content-center"> <!-- Center the row -->
    <div class="col-md-6"> <!-- Specify the column width -->
      <div class="card">
        <%= image_tag "poster2.jpeg", class: "card-img-top", alt: "Poster 2" %>
        <div class="card-body">
          <h5 class="card-title">Laughter, Rinse, Repeat.</h5>
          <p class="card-text">Second City director showcase poster.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  <div class="video">
  <iframe width="560" height="315" src="<%= @fivevideo_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<p class='text-center'> Sketch from the Second City Conservatory Grad Revue Show: "It's My Party I Can Die If I Want To" by the comedy troupe Hell Yea Brother
</p>
<div class="video">
  <iframe width="560" height="315" src="<%= @sixvideo_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<p class='text-center'> Sketch by the comedy troupe, OffPinkFloyd
</p>
<div class="video">
  <iframe width="560" height="315" src="<%= @sevenvideo_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<p class='text-center'> Sketch by the comedy troupe OffPinkFloyd
</p>
<div class="video">
  <iframe width="560" height="315" src="<%= @eightvideo_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<p class='text-center'> Short film written, directed, and starring Brenda Reyes and Matt Casillas
</p>
<!--keep this at the end-->
  <button type="button" class="btn btn-dark p-2 text-center" style="width: 100px;" onclick="window.location.href='/about';">about me.
  </button>
